# x86 configuration
mainmenu "Nucleos Configuration for x86"

# Select 32-bit
config X86_32
	def_bool y

### Arch settings
config X86
	def_bool y

config ARCH_DEFCONFIG
	string
	default "arch/x86/configs/i386_defconfig" if X86_32
	default "arch/x86/configs/x86_64_defconfig" if X86_64

config ARCH_SELECT_MEMORY_MODEL
	def_bool y

config ARCH_SUPPORTS_OPTIMIZED_INLINING
	def_bool y

source "Kconfig"

# Kernel options
source "arch/x86/kernel/Kconfig"

menu "Processor type and features"

source "arch/x86/Kconfig.cpu"

source "mm/Kconfig"

endmenu

# Link kernel with separate I&D
config ARCH_KERNEL_LINKAGE_SEPID
	def_bool y

# Link servers with separate I&D
config ARCH_SERVERS_LINKAGE_SEPID
	def_bool y

# Link drivers with separate I&D
config ARCH_DRIVERS_LINKAGE_SEPID
	def_bool y

# Servers (includes also debug options if any)
source "arch/x86/servers/Kconfig"

# Drivers (includes also debug options if any)
source "drivers/Kconfig"

# Legacy boot monitor
source "arch/x86/monitor/Kconfig"

menu "Linkage"
config X86_P2ALIGN_16
	int "Default 16-bit code alignment"
	default "1" if X86_32
	---help---
	  Specify 16-bit code alignment. Only exponent value must
	  be specified thus alignment is 2^exp.

config X86_P2ALIGN
	int "Default 32-bit code alignment"
	default "2" if X86_32
	---help---
	  Specify 32-bit code alignment. Only exponent value must
	  be specified thus alignment is 2^exp.
endmenu

# Hacking/debugging (common for all components, generic + arch if any)
source "arch/x86/Kconfig.debug"
