menu "VFS server"
config VFS_ELF32_BINFMT
	bool "ELF32 binary format support"
	default y
	---help---
	  Say Y if want a ELF32 binary format support.

config VFS_ELF32_STACKSIZE
	hex "Stack size"
	depends on VFS_ELF32_BINFMT
	default 0x20000
	---help---
	  Set the default stack size for ELF32 binaries.

config VFS_AOUT_BINFMT
	bool "AOUT binary format support"
	default y
	---help---
	  Say Y if want a AOUT binary format support.

# VFS hacking and debugging
source "servers/vfs/Kconfig.debug"

endmenu
